$black : #000000;
$white : #ffffff;
$dark1 : #071824;
$dark2 : #001E37;
$dark3 : #515353;
$blue1 : #3BAECA;
$blue2 : #236891;
$blue3 : #174159;
$blue4 : #0B2839;
$red1 : #EB5E67;
$green1 : #717C6E;
$green2 : #A2C7B5;