.site-footer{
	background-color: $dark1;
	padding-bottom: 55px;
	color:$white;
	font-family:$light;
	&:before{
		content:'';
		display:block;
		height:5vw;
		background-image: url('../images/strip-2.png');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: left top;
		color:$white;
		border-bottom:1px solid $dark3;
	}
}
.partner-logos{
	margin: 57px 0 33px 0;
	padding: 0;
	display:flex;
	flex-wrap:wrap;
	align-items:flex-end;
	&__item{
		margin: 0 25px 25px 0;
		padding: 0;
		list-style: none;
	}
}
.footer-menu{
	margin:0 0 0 -20px;
	padding: 0;
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	@media only screen and (min-width: $medium){
		flex-direction: row;
	}
	&__item{
		margin:0;
		padding: 0;
		list-style: none;
		position:relative;
		&:after{
			content: '';
			position:absolute;
			right:0;
			top:8px;
			background-color:$dark3;
			width:1px;
			display:none;
			height:1em;
			@media only screen and (min-width: $medium){
				display:block;
			}
		}
		&:last-child:after{
			@media only screen and (min-width: $medium){
				display:none;
			}
		}
	}
	&__lnk{
		color:$white;
		text-decoration:none;
		padding: 4px 20px;
    	display: block;
    	&:hover{
			text-decoration: underline;
    	}
	}
}