.main-nav{
	margin:0;
	@media only screen and (min-width: $large){
		margin:0 auto;
	}
	&__toggle{
		display: inline-block;
		position:absolute;
		right: 5px;
		top:18px;
		background-image: url('../images/hamburger.svg');
		background-size:90% auto;
		background-color:transparent;
		width: 40px;
    	height: 28px;
		border: 0;
		cursor:pointer;
		@media only screen and (min-width: $extra-small){
			right: 5%;
			width:47px;
			height:39px;
			background-size:100% auto;
		}
		@media only screen and (min-width: $large){
			display:none;
			
		}
	}
}
.main-menu{
	margin: 0 0 30px 0;;
	padding:0;
	display:none;
	@media only screen and (min-width: $large){
		margin:0;
		display:flex;
	}
	&__item{
		margin:0;
		padding:0;
		list-style: none;	
		display:block;
		align-items:center;
		@media only screen and (min-width: $large){
			display:flex;
		}
		&--has-sub:hover {
			
			@media only screen and (min-width: $large){
				> .main-sub-menu {
					top:80px;
				}	
				&:after{
					content:'';
					display:block;
					background-color: $dark1;
					position:absolute;
					left:0;
					right:0;
					top:80px;
					z-index: 1;
					height:11em;
					width:100%;				
				}
			}
		}
		&:last-child a:before{
    		display:none;
    	}
	}
	&__lnk{
		font-family:$light;
		text-decoration: none;
	    display:flex;
		align-items:center;
    	padding: 0;	
    	color:$black;
    	line-height: 1.2;
    	min-height: 50px;
    	position: relative;
    	overflow:hidden;
    	&:before {
			display:none;
    	}
    	@media only screen and (min-width: $large){
			padding: 0 22px;
			min-height: 80px;
			&:before{
				content:'';
				display:block;
				position:absolute;
				right:0;
				top:calc(50% - 1em);
				width:1px;
				height:2em;
				background-color:$blue1;
    		}
    	}
    	
    	@media only screen and (min-width: 1152px){
			&:before{
				top:calc(50% - 0.5em);
				height:1em;

    		}
    	}

    	&__inner{
			display:block;
			text-align: center;
			@media only screen and (min-width: 1150px){
				text-align: left;
			}
			//border-bottom:4px solid $white;
			//padding-bottom:2px;
    	}
    	&--current{
    		@media only screen and (min-width: $large){
	    		&:after{
		    		content:'';
		    		position:absolute;
		    		bottom: -7px;
		    		left: calc(50% - 12px);
		    		display:block;
		    		width:15px;
		    		height:15px;
		    		transform:rotate(45deg);
		    		background-color:$dark2;
		    		z-index: 10;
	    		}	
    		}
    	}
    }
}
.main-sub-menu{
	margin:0;
	padding:0;
	@media only screen and (min-width: $large){
		position:absolute;
		top:-200px;
		left:auto;
		z-index: 2;
		padding-top:20px;	
	}
	&:before{
		position:absolute;
		content: '';
		left: calc(50% - 17px);
    	top: -7px;
		display:block;
	    width:15px;
	    height:15px;
	    transform:rotate(45deg);
	    background-color:$white;
	    z-index: 10;
	}
	
	&__item{
		margin:0;
		padding:0;
		list-style: none;
	}
	&__lnk{
		color:$black;
		text-decoration:none;
		font-family:$light;
		display:block;
		padding: 10px 10px;
		position:relative;
		@media only screen and (min-width: $large){
			color:$white;
			left: -5px;
		}
		&:before{
			content:'';
			background-image: url('../images/whitefish.png');
			background-position:0 0;
			background-size: 100% auto;
			background-repeat: no-repeat;
			display:inline-block;
			margin-right:5px;
			width:25px;
			height:10px;
		}
		&:after{
			content:'';
			background-image: url('../images/whitefish.png');
			background-position:0 0;
			background-size: 100% auto;
			background-repeat: no-repeat;
			display:inline-block;
			margin-left:5px;
			width:25px;
			height:10px;
		}
	}

}
.main-menu__item:hover .main-menu__lnk__inner {
    
 	color:$blue1;
    //border-bottom:4px solid $blue1;
}
 