.wrap{
	margin:0 5%;
	max-width:1284px;
	@media only screen and (min-width: $extra-extra-large){
		margin:0 auto;
	}
	&--2{
		max-width:1046px;
	}


}
.row{
	display:flex;
	justify-content:center;
	flex-direction:column;
	flex-wrap:wrap;
	@media only screen and (min-width: $medium){
		flex-direction:row;
		justify-content:space-between;
		flex-wrap:nowrap;
	}
	@media only screen and (min-width: $large){
		justify-content:center;
		&--title-nav{
			justify-content:space-between;
		}
	}
	&--row-2{
		margin: 30px 0;
		@media only screen and (min-width: $medium){
			margin: 70px 0;
		}
	}
	&--row-3{
		@media only screen and (min-width: $large){
			justify-content:space-between;
		}
	}

}
.row-title-nav{
	display:flex;
	justify-content:center;
	flex-direction:column;
	flex-wrap:wrap;
	@media only screen and (min-width: $large){
		flex-direction:row;
		justify-content:space-between;
		flex-wrap:nowrap;
	}
	> a{
		display:block;
	}
}
.col {
	&-3{
		width:292px;
		margin:12px auto;
		@media only screen and (min-width: $medium){
			width:31%;
			margin:0;
		}
		@media only screen and (min-width: $large){
			width:292px;
			margin:0 14px
		}
	}
}

.hero-image{
	&__figure{
		margin:0;
		padding:0;
		position:relative;
		height:508px;
		overflow:hidden;
		display: flex;
    	justify-content: flex-start;
    	@media only screen and (min-width: $medium){
			justify-content: center;
    	}
    	&--large{
    		height:570px;
    		@media only screen and (min-width: $large){
				height:600px;
			}
		}
		
		@media only screen and (min-width: $extra-large){
			display: block;
			&--large{
				height:660px;
			}
		}
		&--overlayed{
			position:absolute;
			left:0;
			right:0;
			//bottom: 0;
			top: 70px;
			z-index: -1;
			@media only screen and (min-width: $extra-small){
				top:80px;
			}
			
		}
	}
	&__image{
		display: block;
	    height: auto;
	    max-width: none;
	    width: auto;
	    margin-left: -40%;
	    .fade & {
			max-width: 100%;
	    }
	    @media only screen and (min-width: $extra-small){
			margin-left: 0;
	    }
		@media only screen and (min-width: $extra-extra-large){
			width:100%;
		}
		&--1{
			margin-left: -100%;
			@media only screen and (min-width: $extra-small){
				margin-left: -40%;
	    	}
	    	@media only screen and (min-width: $medium){
				margin-left: 0;
	    	}
		}
	}
	&__caption{
		margin:0;
		padding: 10px 30px;
		position:absolute;
		right:0;
		bottom: 0;
		background-color: $blue3;
		color:$white;
	}
	&__strapline{
		position:absolute;
		width:692px;
		height:208px;
		top:-9999em;
		left:calc(50% - 346px);
		z-index: 2;
		@media only screen and (min-width: $large){
			top:59px;
		}
	}
}
.main-content{
	padding-bottom:40px;
	@media only screen and (min-width: $medium) {
		padding-bottom:90px;
	}
	&--no-pdb{
		padding-bottom:0;
		border-bottom:1px solid $dark3;
		@media only screen and (min-width: $medium) {
			padding-bottom:0;
		}
	}
	&__overlayed{
		padding-top:390px ;
		
	}
	&__panel{
		&--1{
			margin-left:0;
			margin-right: 0;
			@media only screen and (min-width: $medium){
				margin-left: calc(7.5% + 14px );
				margin-right: calc(7.5% + 14px );
			}
		}
	}
	&__page-intro{
		min-height: 256px;
		padding:14px;
		background-color: $white;
		box-shadow: 0px 0px 18px rgba(0,0,0,0.2);
		display:flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 30px;
		@media only screen and (min-width: $medium) {
			margin-bottom: 60px;
		}
		@media only screen and (min-width: $large){
			    flex-direction: row;
		}
		&__places{
			font-family:$light;
			font-size:32px;
			line-height:1.2;
			margin-left:0;
			margin-right:0;
			padding-left:0;
			padding-right:0;
			display:flex;
			justify-content: flex-start;
			flex-wrap:wrap;
			&__item{
				margin:0;
				padding: 0;
				list-style: none;
				&:after{
					content: '';
					display:inline-block;
					background-image:url('../images/sep-1.svg');
					background-size:100% auto;
					background-position:center -5px;
					width:62px;
					height:26px;
				}
				&:last-child{
					&:after{
						display:none;
					}
				}
			}
		}
		&__cta{
			color:$blue1;
			text-decoration:none;
			margin-left:0;
			@media only screen and (min-width: $large){
				margin-left:3em;
			}
		}
		&__caption{
			color: $blue1;
			text-decoration:underline;
		}
		&__with-img{
			display:block;
			@media only screen and (min-width: $medium){
				display:flex;
				justify-content: space-between;
			}
			&__fig{
				margin: 0;
				padding:0;
				@media only screen and (min-width: $medium){
					margin: 0 0 0 20px;
				}
			}
		}
		&__fig{
			margin:0;
			padding:15px 28px 14px 28px;
			text-align: center;
			background:none;
			min-width: 233px;
			@media only screen and (min-width: $large){
				background-image:url('../images/barr-lines.png');
			}
			@include bar;
			@include dropShad;

		}
		&__img{
			//max-width: none; 
		}
		&__text{
			margin-left: 4%;
			@media only screen and (min-width: $large){
				margin-left: 7.5%;
			}
			&--photographers{
				margin-right:4%;
				@media only screen and (min-width: $large){
					margin-right:7.5%;
				}
			}
			&--about{
				margin-right:4%;
				@media only screen and (min-width: $large){
					margin-right:7.5%;
				}
			}
		}
	}
	&__gallery{
		//background-color: $white;
	}
}
.breadcrumbs{
	display:flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left:-10px;
	margin-top: 15px;
	&__item{
		padding-left:10px;
		padding-right: 10px;
		text-decoration:none;
		position:relative;
		color:$black;
		&:after{
				content:'';
				display:block;
				height:13px;
				background:$blue2;
				width:1px;
				position:absolute;
				right:0;
				top:5px;
		}
		&:last-child{
			&:after{
				display:none;
			}
		}
		&--lnk{
			color:$blue2;
			font-family:$semibold;
		}
	}
}
.location{
	text-align:center;
	&__list{
		margin:0;
		padding:20px 0 50px 0;
		@include dropShad;
		&--west{
			background-image:url('../images/barr-lines.png');
			background-size: 110% 110%;
    		background-position: -10px -10px;
		}
		&--east{
			background-image:url('../images/barr-lines-2.png');
			background-size: 110% 110%;
    		background-position: -10px -10px;
		}
		&--north{
			background-image:url('../images/barr-lines.png');
			background-size: 110% 110%;
    		background-position: -10px -10px;
		}
		&--pdlr{
			padding-left:10px;
			padding-right:10px;
			padding-bottom:30px;
		}
	}
	&__cta{
		text-decoration: none;
		color:$black;
		display:block;
	}
	&__title{
		margin: 0 0 10px;
		padding:0;
		font-family:$semibold;
		color:$dark2;
		line-height: 1.2;
		
	}
	&__def{
		margin:0;
		padding:0;
	}
	&__video{
		background-image: url('../images/net-2.svg');
		background-size:100% 100%;
		display:inline-block;
		width:198px;
		height:198px;
		text-indent: -999em;
		overflow:hidden;
		//margin-bottom: 10px;
	}
	&__audio{
		background-image: url('../images/net-1.svg');
		background-size:100% 100%;
		display:inline-block;
		width:198px;
		height:198px;
		text-indent: -999em;
		overflow:hidden;
		//margin-bottom: 10px;
	}
	&__area{
		display:block;
		max-width: 215px;
    	margin: 10px auto 0 auto;
    	font-size:14px;
    	line-height:1.2;
	}
}
.media-control{
	&__cta{
		font-family:$semibold;
	}
	&__title{
		min-height: 4em;
	}
}
.resources-list{
	margin:0;
	padding:0;
	&__item{
		margin:0 0 20px 0;
		padding:0;
		list-style: none;
	}
	&__cta{
		display:block;
		color:$blue2;
	}

	&__figure{
		margin:0;
		padding:0;
		display:flex;
		justify-content:flex-start;
		align-items:flex-start;
		flex-wrap: nowrap;
	}
	&__img{
		display:block;
		margin-right:12px;
		min-width: 67px;
		@media only screen and (min-width: $medium){
			margin-right:28px;
		}
	}
	&__text{
		a {
			color:$blue2;
		}
		&__p1{
			margin-top:0;
		}
	}
}
.useful-links{
	margin:0;
	padding:0;
	&__item{
		margin:0 0 2em 0;
		padding:0;	
		list-style:none;
		a{
			color:$blue2;
		}
	}
}
.overlay{
	position:fixed;
	left:0;
	right:0;
	bottom: 0;
	top:0;
	z-index: 100;
	background: rgba(255,255,255,0.9);
	display:none;
	justify-content:center;
	align-items:center;
	&--open{
		display:flex;
	}
	&__close{
		position:fixed;
		top:10px;
		right:20px;
		z-index: 101;
		font-family:$semibold;
		background:none;
		border: 0;
		font-size:20px;
		cursor:pointer;
	}
}
.media{
	&__item{
		width:75vw;
		max-width:1284px;
		max-height: 98vh;
		//height:auto;
	}
}
.gallery{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	&__cta{
		width:auto;
		display: block;
    	margin: 0 0 5px 0;
    	text-decoration:none;
    	color:$black;
    	background-color: #ddd;
    	@media only screen and (min-width: $medium){
			width:33%;
			margin: 0.1666667%;
    	}
	}
	&__fig{
		margin:0;
		padding:0;
	}
	&__caption{
		padding:0 15px 5px 15px;
		line-height: 1.15;
	}
}
.slick-next{
	right:25px;
}
.slick-dots {
	bottom:0;
	li{
		width:auto;
		height:auto;
		font-size:16px;
		line-height:1;
		button{
			background-color: #ccc;
			width:auto;
			height:auto;
			font-size:16px;
			line-height:1;
			color:$black;
		}
		&.slick-active{
			button{
				background-color: $black;
				color:$white;
			}
		}
	}
}
.no-tt{
	text-transform:none;
}
.icon-yellow{
	background-image:url('../images/yellow-square.svg');
	background-repeat: no-repeat;
	padding-left: 130px;
    background-position: -50px -50px;
    min-height: 100px;
}
.blk{
	//display:block;
	@media only screen and (min-width: 1150px){
		display:inline;
	}
}
#sidebar{
	display:none;
	@media only screen and (min-width: $large){
		display:block;
	}
}
.ol-viewport canvas{
	height: 500px !important;
	@media only screen and (min-width: $medium){
		height: 100% !important;
	}

}
#resultsSideBar {
	position: absolute;
	top: 90px;
	right: 5%; 
	width: 80%; 
	max-height: 80%;  
	z-index: 2; 
	background-color: white; 
	margin: 0px;
	padding: 10px;
	background:rgba(255,255,255,0.95); 
	@media only screen and (min-width: $medium){
		top: 110px;	
		right: 55px; 
		width: 330px; 
		max-height: 620px; 
	}
}